h1 {
  font-size: var(--calcite-font-size-1);
  padding: 10px 0;
}

h2 {
  font-size: var(--calcite-font-size--1);
  padding: 5px 0;
  margin: 0 0 5px 0;
}

h1,
h2 {
  font-family: 'Wallpoet', cursive;
}

.titleBackground {
  background: linear-gradient(0.25turn, rgba(26 230 230 / 0) 20%, rgba(26 230 230 / 0.2) 50%, rgba(26 230 230 / 0) 80%);
  color: white;
  text-align: center;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}
