.label {
  cursor: pointer;
}

.surfaces,
.dynamicSections,
.slices {
  margin: 0 20px 20px 20px;
  text-align: center;
}

.sections {
  text-align: center;
}

.surfaceGraphic {
  height: 40px;
  padding: 10px 0 0 0;
}

.sliceGraphic {
  width: 120px;
  padding: 10px 0 0 0;
}
