@import 'https://js.arcgis.com/4.23/@arcgis/core/assets/esri/themes/dark/main.css';

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--calcite-sans-family);
  color: white;
  background-color: #3a3d54;
}

.calcite-theme-dark,
:root {
  --calcite-ui-brand: rgb(0, 194, 194);
  --calcite-ui-brand-hover: rgb(3, 148, 148);
  --border-radius: 10px;
  --box-shadow: 0 1px 4px rgb(0 0 0 / 80%);
  --padding: 25px;
  --border-corners: 1px solid rgba(0 255 255 / 0.8);
  --mobile-font-size: 12px;
  --font-size: 14px;
}

.esri-widget {
  background: none !important;
}

.esri-widget__heading.esri-legend__service-label,
.esri-legend__layer-caption {
  display: none !important;
}

.esri-legend__service {
  padding: 20px 0 0 0;
}

/* scrollbar styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(0 194 194 / 0.1);
  border: none;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0 194 194 / 0.8);
}

.separator:before {
  content: '';
  width: 80%;
  margin: 10px auto;
  border-top: 1px solid rgba(255 255 255 / 0.5);
  display: block;
  padding: 0 0 10px 0;
}

a {
  color: var(--calcite-ui-brand);
  text-decoration: none;
  border-bottom: 2px solid var(--calcite-ui-brand);
}

a:hover {
  cursor: pointer;
  color: var(--calcite-ui-brand-hover);
  border-bottom: 2px solid var(--calcite-ui-brand-hover);
}
